page-about{

  ion-input {
    input {
      text-align: center;
      /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
      ::-webkit-input-placeholder {
        text-align: center;
      }
    }
  }



  .bgx{
    background-color:#177556;
    color:#ffff;
  }
  .buttonx{
    background-color:#177556;
    color:#ffff;
    padding:10px;
    font-size: 20px;
    justify-content: center;
    text-align: center;

  }
}
